a\1\2++ exclusion
*.o
*.so

a\1\2ytho\1\2xclusion
*.pyc

files
*.swp

a\1\2at\1\2il\1\2xclusions
*.txt
*.png
*.root
*.log
lib/*
*.txt
Makefile
__pycache__
*.cmake
CMakeFiles/**
*/CMakeFiles/**
build/**
.vscode/**

siv\1\2irectories
!CMakeLists.txt

s
SiPMCalc/data/**
