*.o
*.so

*.pyc

files
*.swp

*.txt
*.png
*.root
*.log
lib/*
*.txt
Makefile
__pycache__
*.cmake
CMakeFiles/**
*/CMakeFiles/**
build/**
.vscode/**
!CMakeLists.txt
SiPMCalc/data/**

# Documentation related
docs/html/*
docs/style.css.map
docs/style.css
